body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4CAF50, #2196F3);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start */
}

.container {
  display: flex;
  justify-content: space-between; /* Space between left and right sections */
  max-width: 1200px; /* Set a maximum width for the container */
  width: 100%; /* Full width */
  padding: 20px; /* Padding around the container */
}

.left-section,
.right-section {
  flex: 1; /* Flex property for equal distribution */
  max-width: 45%; /* Max width for each section */
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

h3  {
  color: white;
}

.outInfo {
  color: white;
}

.outputStats {
  padding: 0;
  gap: 10px;
}

.title {
  display: flex;
  align-items: center; /* Centers items vertically */
  gap: 10px; /* Adjust spacing between items */
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Spacing between input groups */
  max-width: 400px; /* Max width for the form */
  width: 100%; /* Full width */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.input_div p {
  margin: 0; /* Removes padding between labels and input fields */
  font-weight: bold;
}

select, input {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none; /* Removed border style */
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #45a049;
}

.titleLogo {
  width: 75px;
  height: 75px;
  display: block;
  margin: 20px auto 0; /* Center title logos */
}

.outImage {
  width: 200px;
  height: 200px;
  display: block;
  margin: 20px auto 0; /* Center output image */
}
